<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:storage.db</property>
        <property name="dialect">com.gfb.hotelHero.dao.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.username"/>
        <property name="connection.password"/>

        <property name="show_sql">true</property>

        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="connection.release_mode">auto</property>

        <!--<mapping package="com.gfb.hotelHero.domain"/>-->
        <mapping class="com.gfb.hotelHero.domain.Address"/>
        <mapping class="com.gfb.hotelHero.domain.AppSettings"/>
        <mapping class="com.gfb.hotelHero.domain.IdentityDocument"/>
        <mapping class="com.gfb.hotelHero.domain.PaymentLog"/>
        <mapping class="com.gfb.hotelHero.domain.ReceivingPoint"/>

        <!--<event type="pre-update">
            <listener class="org.hibernate.cfg.beanvalidation.BeanValidationEventListener"/>
        </event>
        <event type="pre-insert">
            <listener class="org.hibernate.cfg.beanvalidation.BeanValidationEventListener"/>
        </event>-->
    </session-factory>
</hibernate-configuration>