<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="com.gfb.hotelHero.dao,com.gfb.hotelHero.listener"/>
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
    </bean>

    <bean id="drebeDengiClient" class="com.gfb.hotelHero.ddengi.DrebeDengiClient">
        <constructor-arg value="#{systemEnvironment['DREBEDENGI__WSDL_LOCATION']}"/>
        <constructor-arg value="#{systemEnvironment['DREBEDENGI__APP_ID']}"/>
        <constructor-arg value="#{systemEnvironment['DREBEDENGI__LOGIN']}"/>
        <constructor-arg value="#{systemEnvironment['DREBEDENGI__PASSWORD']}"/>
    </bean>

    <bean id="vkontakteClient" class="com.gfb.hotelHero.vkontakte.VkontakteClient">
        <constructor-arg value="https://api.vk.com/method/"/>
        <constructor-arg value="5.62"/>
        <constructor-arg value="#{systemEnvironment['HOTEL_HERO__VKONTAKTE_TOKEN']}"/>
    </bean>

</beans>
